{%extends 'blog/base.html' %}
{%block header%}
New Post
{%endblock%}
{%block content%}
<form method = "post" action="#">
    {%csrf_token%}
    <div class="form-group">
        <label for="new_post_title">Title</label>
        <input type="text" class="form-control" id="new_post_title" name="title" placeholder="New Post Title">
      </div>
      <div class="form-group">
        <label for="new_post_textarea">What's on your mind?</label>
        <textarea class="form-control" name="new_post" id="new_post_textarea" rows="3" placeholder="Add text here"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" name="save_post" class="btn btn-success" value="save_post" id="save_post_btn">Save Post</button>
      </div>
    </div>
</form>
{%endblock%}